<footer class="footer bg-dark text-white">
    <div class="row">
       <div class="col-md-4">
          <!-- <div class="logo">Company Logo</div> -->
          <img src="https://img.freepik.com/free-vector/colorful-abstract-logo-with-letter-s_1017-1763.jpg?t=st=1738089685~exp=1738093285~hmac=36b9fced36b0bfbd882b5d36269ab1dc4c61fca47c8bda067cf445873d3d14fa&w=740" class="logo" alt="">
         <br>
          <span>© {{ currentYear }}</span>
       </div>
       <div class="col-md-4">
          <p>Version: 2.2.2</p>
       </div>
       <div class="col-md-4">
          <ul class="footer-links text-white">
             <li>About</li>
             <li>Contact Us</li>
             <li>Privacy</li>
             <li>Terms of Use</li>
          </ul>
       </div>  
    </div>
 </footer>
 